@import "./css/syntax.less";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Open+Sans:300,300i,400,400i|IBM+Plex+Mono:400,400i,700');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

body {
    color: @black;
    background-color: @white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

a {
  color: @nord10;
}

code, kbd, pre, samp {
  font-family: "IBM Plex Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre {
  color: @nord4;
  background-color: @nord0;
  word-wrap: break-word;
  word-break: break-all;
  margin: 25px 0px;
  padding: 10px;
  font-size: 14px;
}

code {
  color: @nord9;
}

blockquote {
  font-family: Merriweather;
  border-right: @black 1px solid;
  border-top: @black 1px solid;
  padding: 5px 10px 5px 5px;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.navbar-light .navbar-nav .nav-link {
  color: @black;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#title {
  margin-top: 20px;
}

.figure {
  display: inline;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  /* margin-right: -50vw; */
}

figcaption {
  text-align: center;
}

#post-date {
  font-size: 16px;
  color: @black;
  margin-right: 15px;
}

#tag-container {
  margin-bottom: 15px;
  margin-right: 10px;
}

.tag {
  font-size: 12px;
  background-color: @black;
  color: @white;
  margin-right: 5px;
  text-align: center;
  padding: 2px 7px 3px 7px;
}

#footer {
  font-size: 14px;
}

@media (max-width: 991.98px) {
    .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem
    }

    .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
  }

@media (min-width: 768px) {
    #content{
        margin-top: 10px;
        padding: 20px 75px;
    }

    blockquote {
        float: right;
        margin-left: 50px;
        margin-right: -5vw
    }
}
