@import "./css/syntax.less";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700|IBM+Plex+Serif');


h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 2em;
}

body {
    color: @black;
    background-color: @white;
    font-family: "IBM Plex Serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    border-top: 3px solid #000;
}

a {
  color: @nord10;
}

a.uri {
  word-break: break-word;
}

.list-group-item a {
  color: @black
}

.list-group-item {
  padding: 0px
}

code, kbd, pre, samp {
  font-family: "IBM Plex Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre {
  color: @nord3;
  background-color: @nord6;
  margin: 40px 0px;
  padding: 50px 20px;
  font-size: 0.7rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
}

code {
  color: @nord9;
}

pre code {
  display: inline-block;
  width: 100%;
  overflow: auto;
}

blockquote {
  font-family: Merriweather;
  border-right: @black 1px solid;
  border-top: @black 1px solid;
  padding: 5px 10px 5px 5px;
}

.navbar {
    border-radius: 0;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: @black;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#title {
  margin-top: 20px;
}

.figure {
  display: inline;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
}

figure {
  margin: 3em 0;
}

figcaption {
  text-align: center;
}

#post-date {
  font-size: 1.0em;
  color: @black;
  margin-right: 5px;
  padding-top: 3px;
}

#tag-container {
  margin-bottom: 15px;
  // margin-right: 5px;
}

.tag {
  font-size: 0.8em;
  background-color: @black;
  color: @white;
  margin-right: 5px;
  text-align: center;
  padding: 3px 10px 4px 10px;
  border-radius: 1em;
}

a:hover.tag {
  color: white;
}

#footer {
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: 1rem
  }

  .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
  }
}

@media (min-width: 576px) {
  body {
    font-size: 1.2rem;
  }

  pre {
    font-size: 0.8rem;
    padding: 50px 50px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }

  pre {
    font-size: 0.9rem;
    padding: 50px 110px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.35rem;
  }

  pre {
    font-size: 1.0rem;
    padding: 50px 180px
  }

  #content{
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
  }

  blockquote {
    float: right;
    margin-left: 50px;
    margin-right: -5vw
  }
}

@media (min-width: 1200px) {
  pre {
    font-size: 1.0rem;
    padding: 50px 220px
  }
}
