<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>$title$</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/images/assets/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/assets/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/assets/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/assets/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/assets/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/assets/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/assets/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/assets/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/assets/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/assets/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/assets/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/assets/favicons/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/default.css" />
        <!-- <link rel="stylesheet" href="/css/syntax.css" /> -->
    </head>
    <body>
      <header class="navbar navbar-expand navbar-light flex-column flex-md-row">
        <div class="container">
          <a class="navbar-brand mr-0 mr-md-2" href="/">
            <img src="/images/assets/ks_dark.svg" width="36" height="36" alt="">
          </a>
          <div class="navbar-nav-scroll">
            <ul class="navbar-nav flex-row">
              <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/archive.html">Posts</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
              <a class="nav-link p-2" href="https://github.com/keithschulze" target="_blank" rel="noopener" aria-label="GitHub">
                <img src="/images/assets/github-black.svg" width="24" height="24" alt="" >
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2" href="https://twitter.com/keithschulze" target="_blank" rel="noopener" aria-label="Twitter">
                <img src="/images/assets/twitter-black.svg" width="24" height="24" alt="" >
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2" href="https://www.linkedin.com/in/keithschulze" target="_blank" rel="noopener" aria-label="LinkedIn">
                <img src="/images/assets/linkedin-black.svg" width="24" height="24" alt="" >
              </a>
            </li>
          </ul>
        </div>
      </header>

      <div class="container">
        <div id="title" class="row justify-content-center">
          <h1>$title$</h1>
        </div>
        <div id="content" class="row">
          $body$
        </div>
        <div id="footer">
          <div class="row justify-content-md-center">
            Copyright © Keith Schulze
          </div>
          <div class="row justify-content-md-center">
            Proudly powered by&nbsp<a href="http://jaspervdj.be/hakyll">Hakyll</a>
          </div>
        </div>
      </div>
    </body>
</html>
